@model BibliotecaDigital.Models.Libros

@{
    ViewData["Title"] = "Crear Libro";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post" class="mt-3">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Codigo" class="form-label"></label>
        <input asp-for="Codigo" class="form-control" />
        <span asp-validation-for="Codigo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Titulo" class="form-label"></label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Autor" class="form-label"></label>
        <input asp-for="Autor" class="form-control" />
        <span asp-validation-for="Autor" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EjemplaresDisponibles" class="form-label"></label>
        <input asp-for="EjemplaresDisponibles" class="form-control" />
        <span asp-validation-for="EjemplaresDisponibles" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>